#buttonOutput{
  width:100px;
  height:100px;
  background-color: black;
}
#textBox{
  left:0px;
  top:0px;
  pointer-events: none;
}
.textMessage{
  position:absolute;
  font-weight: bold;
  font-size: 20px;
}
