:root {
   --pixel-size: 2px;
   --grid-cell: calc( var(--pixel-size) * 16);
}
@media( min-width: 700px ) {
   :root {
      --pixel-size: 3px;
   }
}
@media( min-width: 1000px ) {
   :root {
      --pixel-size: 4px;
   }
}

body{
  object-fit: contain;
  font-family: 'VT323', monospace;
  color:#666666;
  font-size: 20px;
  margin: auto;
  text-align: center;
  width: 100vw;height: 100vh;
  overflow: hidden;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera {
   /* width: 100vw;
   height: 100vh; */
   width: calc(30 * var(--grid-cell));
   height: calc(20 * var(--grid-cell));
  /* background-image: url(assets/static-bg.png); */
   overflow: hidden;
   position:relative;
}
.backgroundContainer{
  image-rendering: pixelated;
  background-image: url(assets/cindyroom-bkg.png);
  width: calc(167 * var(--grid-cell));
  height: calc(60 * var(--grid-cell));
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
#dino {
  height: 96px;
  width: 96px;
  position: absolute;
  image-rendering: pixelated;
  background: url("assets/dino-spritesheet.png")
    0px 0px;
  /* width: calc( var(--grid-cell)* 6 );
  height: calc( var(--grid-cell)* 6 ); */
  left:calc(var(--pixel-size) * 31);
  bottom:calc(var(--pixel-size) * 53);
}
.dinoAnimation{
  animation: play 0.7s steps(10) infinite;
}
@keyframes play {
  100% {
    background-position: -944px;
  }
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  width: calc( var(--grid-cell)* 4 );
  position:relative;
  color:white;
  left:calc(var(--pixel-size) * 90);
  top:calc(var(--pixel-size) * 130);
}
.instructions{
  width: calc( var(--grid-cell)* 8 );
  position:absolute;
  color:white;
  left:calc(var(--pixel-size) * 200);
  top:calc(var(--pixel-size) * 20);
  font-size:25px;
  font-weight: 800;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.projNames{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color:white; */
  /* left:calc(var(--pixel-size) * 200); */
  /* top:calc(var(--pixel-size) * 130); */
}
.projNames > *{
    color: white;
    text-decoration: none;
}

.projNames > *:hover{
    color:#0060B6;
    text-decoration:none;
    cursor:pointer;
}

#mini1{
  position: relative;
  left:calc(var(--pixel-size) * 342);
  top:calc(var(--pixel-size) * 100);
}
#mini2{
  position: relative;
  left:calc(var(--pixel-size) * 225);
  top:calc(var(--pixel-size) * 100);
}
#mini3{
  position: relative;
  left:calc(var(--pixel-size) * 116);
  top:calc(var(--pixel-size) * 100);
}
#big1{
  position: relative;
  left: calc(var(--pixel-size) * 36);
  top: calc(var(--pixel-size) * 70);
}
#mini4{
  position: relative;
  left: calc(var(--pixel-size) * -50);
  top: calc(var(--pixel-size) * 100);
}
#mini5{
  position: relative;
  left:calc(var(--pixel-size) * -165);
  top:calc(var(--pixel-size) * 100);
}
#big2{
  position: relative;
  left: calc(var(--pixel-size) * -250);
  top: calc(var(--pixel-size) * 70);
}
#mini6{
  position: relative;
  left:calc(var(--pixel-size) * -337);
  top:calc(var(--pixel-size) * 100);
}
#mini7{
  position: relative;
  left:calc(var(--pixel-size) * -455);
  top:calc(var(--pixel-size) * 130);
}
#big3{
  position: relative;
  left:calc(var(--pixel-size) * -540);
  top:calc(var(--pixel-size) * 70);
}
