body{
  background-image: url(./assets/3d-website-design-background-1.jpg);
  object-fit: contain;
  font-family: 'Lato', sans-serif;
  color:white;
  width: 80vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin: auto;
  background-color: #5C5EF7;
}
#selfIntro{
  display:flex;
  align-items: center;
  height:100vh;
  flex-direction: column;
}
.menu{
  width: 100%;
  border-bottom: 1px solid white;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.about{
  text-align: right;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#aboutLink{
  text-decoration: underline;
  cursor: pointer;
  color:inherit;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.hidden{
  visibility: hidden;
}

#subText{
  width: 100%;
  text-align: left;
}
.projects{
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap:20%;
}
a{
  color:inherit;
}
ul{
  list-style: none;
}
#miniProjects li::before {
  content: "\2022";
  color: #ff887c;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}

#largeProjects li::before {
  content: "\2022";
  color:#FCCD81;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}
#miniProjects li:first-child::before {
  content: "\2744";
  color: #99FFFF;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}
#miniProjects li:nth-child(2)::before {
  content: "\1F4DD";
  color: #99FFFF;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}
#miniProjects li:nth-child(3)::before {
  content: "\1F995";
  color: #99FFFF;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}
#miniProjects li:nth-child(4)::before {
  content: " \1F921";
  color: #99FFFF;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}
#largeProjects li:first-child::before {
  content: "\270B";
  color:#FCCD81;
  font-weight: bold;
  display: inline-block;
  width: 1.3em;
  margin-left: -1.3em;
}

@media screen and (max-width: 700px){
  .projects{
    flex-direction: column;
  }
}
