body{
  overflow: hidden;
}
.container{
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 100px;
  height: 100px;
  background: red;
	left: 0px;
  top: 0px;
  position: relative;
}
.svgContainer{
  width:30vw;
}
@media screen and (max-width: 700px){
  .svgContainer{
    width:50vw;
  }
}
