html, body {margin: 0; height: 100%; overflow: hidden}
body{
  width: 100vw;
  height:100vh;
}
.container{
  height: inherit;
  width: 100%;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 100px;
  height: 100px;
  background: red;
	left: 0px;
  top: 0px;
  position: relative;
}
.svgContainer{
  width:30vw;
  margin: auto;
}
@media screen and (max-width: 700px){
  .svgContainer{
    width:50vw;
  }
}
