html, body {margin: 0; height: 100%; overflow: hidden}
body{
  width: 100vw;
  height:100vh;
  background-color: #5C5EF7;
}
.container,.desktopAngry{
  height: inherit;
  width: 100%;
  display: none;
  text-align: center;
  flex-direction: column;
}
#emojicontainer{
  height:70px;
  width:70px;
  /* animation-name: gettingAngry;
  animation-duration: 60s;
  animation-timing-function: steps(9); */
  animation: gettingAngry 30s steps(9);
  animation-fill-mode: forwards;
}
#goAwayText{
  color: red;
  display: block;
  /* animation-delay: 30s */
  animation:goAway 0.5s 27s linear infinite alternate both;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 100px;
  height: 100px;
  background: red;
	left: 0px;
  top: 0px;
  position: relative;
}
#mobileMessage{
  position: absolute;
  font-size: 10px;
}
.svgContainer{
  width:30vw;
  margin: auto;
}
@keyframes gettingAngry {
  0% {
    background-image: url("assets/smiling-blushing-emoji.png");
    background-repeat: no-repeat;
  }
  15% {
    background-image: url("assets/smiling-blushing-emoji.png");
    background-repeat: no-repeat;
  }
  25%{
    background-image: url("assets/smiling-emoji.png");
    background-repeat: no-repeat;
  }
  35%{
    background-image: url("assets/slightly-smiling-emoji.png");
    background-repeat: no-repeat;
  }
  45%{
    background-image: url("assets/err-emoji.png");
    background-repeat: no-repeat;
  }
  55%{
    background-image: url("assets/err-emoji.png");
    background-repeat: no-repeat;
  }
  65%{
    background-image: url("assets/very-sad-emoji.png");
    background-repeat: no-repeat;
  }
  80%{
    background-image: url("assets/angry-emoji.png");
    background-repeat: no-repeat;
  }
  90%{
    background-image: url("assets/red-angry-emoji.png");
    background-repeat: no-repeat;
  }
  95%{
    background-image: url("assets/wth-emoji.png");
    background-repeat: no-repeat;
  }
  100%{
    background-image: url("assets/wth-emoji.png");
    background-repeat: no-repeat;
  }
}
@keyframes goAway {
  from {
    opacity: 0;
  }
}
@media screen and (max-width: 700px){
  .svgContainer{
    width:50vw;
  }
}
