:root {
   --pixel-size: 2px;
   --grid-cell: calc( var(--pixel-size) * 16);
   --halfW: 50vw;
   --halfH:50vh;
   --bg: #80b1ff;
   --colorAngle;
}
@media( min-width: 700px ) {
   :root {
      --pixel-size: 3px;
   }
}
@media( min-width: 1000px ) {
   :root {
      --pixel-size: 4px;
   }
}
/* @media( min-width: 1000px ) {
   :root {
      --pixel-size: 5px;
   }
} */

html, body {
   height: 100%;
   font-family: 'VT323', monospace;
   color:white;
   overflow: hidden;
}

body {
   background: var(--bg);
   display: flex;
   align-items: center;
   justify-content: center;
}
.gameStart{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter:blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}
.startButton,.goButton{
  border-radius: 5px;
  border:1px solid #837d76;
  color:white;
  padding: 4px 30px;
  background: #9e7c4d;
  text-align: center;
  font-size: 20px;
  background-color: #9e7c4d;
  text-shadow: -1px -1px #83653d, 1px 1px #ffffff;
  color: #ffeacb;
  box-shadow: 0 0.2em #7a7a79b0;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 25px;
}
.goButton{
  display: none;
}
.startButton:active,.goButton:active{
	box-shadow: none;
	position: relative;
	top: .2em;
}
.gameStartInput{
  display: none;
  -webkit-appearance: none;
  background: #fafafa;
  border: none;
  width: 25%;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 16px;
}
.pixel-art {
   image-rendering: pixelated;
}

.frame {
   /* This is just for Pen decoration */
   width: calc(var(--pixel-size) * 200);
   height: calc(var(--pixel-size) * 150);
   outline: var(--pixel-size) solid #fff;
   z-index:1;
   position:relative;
}

.camera {
   width: calc(var(--pixel-size) * 200);
   height: calc(var(--pixel-size) * 150);
   overflow: hidden;
   background: #53dbf5;
   position:relative;
}

.map {
   image-rendering: pixelated;
   /* https://limezu.itch.io/serenevillage */
   background-image: url("assets/cindys-town.png");
   background-size: 100%;
   background-repeat: no-repeat;
   width: calc(20 * var(--grid-cell));
   height: calc(20 * var(--grid-cell));
   position: relative;
}

.character {
   width: calc( var(--grid-cell)* 1 );
   height: calc( var(--grid-cell)* 1 );
   position: absolute;
   overflow:hidden;
}

.shadow {
   width: calc( var(--grid-cell)* 1 );
   height: calc( var(--grid-cell)* 1 );
   position: absolute;
   left:0;
   top:0;
   background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
   background-size: 100%;
}
.collisionDetector{
  position: absolute;
  width: 50%;
  height: 50%;
  /* border:1px solid black; */
  bottom: 0;
  left: 25%;
}
.character_spritesheet {
   position: absolute;
   background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat;
   background-size: 100%;
   filter: hue-rotate(var(--colorAngle));
   width: calc( var(--grid-cell)* 4 );
   height: calc( var(--grid-cell)* 4 );
}
.userText{
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 150%;
  align-items: flex-start;
  /* top: -15%; */
  text-align: center;
  display: flex;
  left: 0;
}
.userText p{
  z-index: 999;
  padding:0;
  margin: 0;
}
.character[facing="right"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -16 );
}
.character[facing="up"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -32 );
}
.character[facing="left"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -48 );
}
.character[walking="true"] .character_spritesheet {
   animation: walkAnimation 0.6s steps(4) infinite;
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-100%,0%,0);
  }
}

.dpad {
   position:absolute;
   right: calc(var(--pixel-size) * 2);
   bottom: calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 37);
   height: calc(var(--pixel-size) * 38);
}
.dpad-button {
   appearance:none;
   outline:0;
   border:0;
   background:transparent;
   padding:0;
   cursor:pointer;
}
.dpad-button svg {
   display:block;
   height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
.dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }

.dpad-up {
   position: absolute;
   left: calc(var(--pixel-size) * 12);
   top:0;
}
.dpad-down {
   position: absolute;
   bottom:var(--pixel-size);
   left: calc(var(--pixel-size) * 12);
}
.dpad-left {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   left:0;
}
.dpad-right {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   right:0;
}

.dpad {
   user-select:none;
}


.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
   position: absolute;
   width: var(--pixel-size);
   height: var(--pixel-size);
   background: var(--bg);
   z-index:2;
}

.corner_topleft {
   top: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_topright {
   top: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
   bottom: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
   bottom: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}

.headline,.info {
   position:absolute;
   text-align: right;
   font-size: 20px;
   top:calc(var(--pixel-size) * 0);
   right:calc(var(--pixel-size) * 5);
   width: calc(var(--pixel-size) * 50)
}
.info{
  top:calc(var(--pixel-size) * 9);
  width: 70%;
  z-index:10;
  cursor:pointer;
}
#infoButton{
  font-weight:800;
  padding:10px 15px;
  border-radius:50px;
  border:3px solid white;
}
.info p {
  font-size:16px;
  background:rgba(0,0,0,0.3);
  padding:20px;
  border-radius:25px;
}
.chatInput{
  position: absolute;
  text-align: left;
  font-size: 20px;
  bottom: calc(var(--pixel-size) * 0);
  left: calc(var(--pixel-size) * 0);
  width: 100%;
  height:calc(var(--pixel-size) * 10);
  display: none;
}
.messagebox{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  align-items: stretch;
}
.chatInput input{
  -webkit-appearance: none;
  background: #fafafa;
  border:none;
  width:90%;
  padding:10px;
  font-family: 'VT323', monospace;
  font-size: 16px;
}
.chatInput button{
  width: 10%;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: powderblue;
}
